
      <style>
          #img{
              width: 150px;
              height: 80px;
          }
      </style>
        <div class="row">
            <article class="col-sm-10">
               
        <br><br><br>
        <h2>Mặt hàng đang bán</h2>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Tên </th>
                    <th scope="col">Giá </th>
                    <th scope="col">Loại </th>
                    <th scope="col">Chi tiết</th>
                    <th scope="col">Hình ảnh </th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
        
                {{#each products}}
                <tr>
                    {{!-- <th scope="row">{{this._id}}</th> --}}
                    <td>{{this.name}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.typeProduct}}</td>
                    <td>{{this.detail}}</td>
                    <td>
                        <img id="img" src="{{this.imageProduct}}"></td>
                    </td>
                    <td>
                        <a href="/addProduct/edit/{{this._id}}" class="btn btn-primary btn-sm">Edit</a>
                        <a href="/addProduct/delete/{{this._id}}" onclick="return confirm('Xóa ?')"
                            class="btn btn-danger btn-sm">Remote</a>
                    </td>
                </tr>
                {{/each}}
        
            </tbody>
        </table>
        <button class="btn btn-success"><a href="/addProduct">Thêm mặt hàng</a></button>
        <br><br><br>


            </article>

            <aside class="col-sm-2">
                <div class="card poly-cart" style="margin-top: 50px;">
                </div>
                <div class="card poly-cart">
                    <div class="card-body">
                        <div class="row">
                            <form action="">
                                <input type="text" class="form-control" placeholder="search">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card poly-cart">
                    <div class="card-header">
                        <span class="glyphicon glyphicon-home"></span> Chủng loại
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item ">Máy tính xách tay</li>
                        <li class="list-group-item ">Điện thoại di động</li>
                        <li class="list-group-item ">Phụ kiện</li>
                    </ul>
                </div>
        </div>
        </aside>
    </div>
    